@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Khula", sans-serif;
}
/* ini card body */
.card {
<<<<<<< HEAD
  /* background: url("/image/snow.jpg"); */
=======
  background: url("/image/eberhard-grossgasteiger-iY5L2wQHVjA-unsplash.jpg");
>>>>>>> 5b703ea277a5212009d13c8a29961942932249a9
  background-repeat: no-repeat;
  background-size: cover;
}
/* ini sidebar */
.sidebar {
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  color: white;
}
/* ini search kolom */
.search {
  background: none;
  border-bottom: 3px solid rgba(255, 255, 255, 0.3);
  transition: ease-out 0.3s;
}
::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
  position: relative;
  left: 2rem;
  transition: ease-out 0.3s;
}

.search-btn {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  left: 5rem;
  bottom: 35px;
}

.search-btn:hover {
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}
/* ini sidebar info */

.border {
  background: rgba(255, 255, 255, 0.3);
  border: none;
  height: 3px;
  width: 15rem;
}

.derajat {
  position: relative;
  bottom: 25px;
  color : rgba(255, 255, 255, 0.8);
}
.statusText{
  color : rgba(255, 255, 255, 0.8);
}

.infocuaca {
  position: relative;
  top: 30px;
  color: rgba(255, 255, 255, 0.8);
}

.info {
  position: relative;
  right: 2rem;
  transition: ease-in;
}

.info2 {
  position: relative;
  left: 2rem;
}
/* disini atur responsive nya */
/* @media (min-height: 600px) {
  .status {
    position: relative;
    top: 10px;
  }
} */


@media (max-width: 828px) {
  .search {
    width: 12rem;
    border-bottom: 3px solid rgba(255, 255, 255, 0.3);
  }
  .search-btn {
    position: relative;
    bottom: 40px;
    transition: ease-in-out;
  }

  ::-webkit-input-placeholder {
    font-size: 12px;
    position: relative;
    left: 2.2rem;
  }
  .info {
    font-size: 13px;
  }

  .info2 {
    font-size: 13px;
  }
}

@media (max-width: 768px) {
  .derajat {
    position: relative;
    bottom: 50px;
  }
  .time {
    position: relative;
    right: 2px;
  }
  .info {
    font-size: 12px;
  }

  .info2 {
    font-size: 12px;
  }
  .border {
    width: 10rem;
  };
}

@media (max-width: 625px) {
  .card {
    overflow: scroll;
  }
  .sidebar {
    backdrop-filter: blur(0px);
    background: rgba(0, 0, 0, 0.3);
  }
  .border {
    background: rgba(255, 255, 255, 0.3);
    border: none;
    height: 3px;
    width: 12rem;
  }
  .search-btn {
    width: 0;
    position: relative;
    left: 6rem;
    bottom: 30px;
  }
  .infocuaca{
    padding-bottom: 20px;
  }
  .info{
    position: relative;
    bottom: 20px;
  }
  .info2{
    position: relative;
    bottom: 20px;
  }
}

@media (max-width: 425px) {
  .main-page {
   display: flex;
   align-items: center;
   margin-left: -50px;
  }
  .time {
    font-size: 15px;
  }
  .date {
    font-size: 14px;
  }
  .name-city{
    font-size: 15px;
  }
  .border{
    width: 12rem;
  }
}


@media (max-height:570px){
  .main-page{
    margin-top: 2rem;
  }
  .time {
    font-size: 15px;
  }
  .date {
    font-size: 14px;
  }
  .name-city{
    font-size: 15px;
  }
  .sidebar{
    margin-top: -1rem;
  }
}
